@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input-money__class{
    height: 36px;
    padding-right: 12px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    outline: none;
    width: 100%;
    text-align: right;
    border: none;
}
